<div ng-controller="portfolioAppCtrl" style="margin-top: 20%">

    <div class="row">
        <div class=" col-lg-2 col-lg-offset-2  col-md-6 col-xs-12 thumb" style="margin-top: 3%;">
            <!-- <a  href="#/portfolio"  >
                <img  src="/data/paintings/Nayeli.jpg" alt="" height="100%" width="100%"/>
            </a> -->
            <div class="hovereffect">
                <img class="img-responsive" src="/data/paintings/960x640_Nayeli.jpg" height="200px" width="350px">
                <div class="overlay">
                   <a class="info" href="#/portfolio">Gallery</a>
                </div>
            </div>
        </div>
        <div class=" col-lg-6 col-lg-offset-1  col-md-offset-1 col-md-8 col-xs-12 ">
            <h3> Indigenous Faces</h3>
            <p>
                I strive to reflect my journey through life in my work. As human beings, we are all connected through feelings or experiences. This series is made up of Mexican-American female portraits. My paintings depict the women in and outside of my family united by blood, culture and social issues. My work is driven from a personal perspective in which we struggle to fit on either side of the border. This situation leaves us to question the idea of who we are. Are we Mexican-American, or are we American-Mexican? My intention with these paintings is to have the women represent the struggle to maintain their identity within society, culture and as individuals. Through the process of painting, I am able to discover myself and the world around me. My work should be viewed as whole rather than as individual pieces.
            </p>
            <p>
                I start off with a photograph for the basis of my paintings. With the help of photographs, I am able to lay down a basic drawing of the person. My portraits are built up of glazed layers from a limited palette: burnt umber, burnt sienna, indigo and alizarin crimson. Because of the use of limited colors, my work comes across as quiet and faded photographs, giving the work a feeling of nostalgia. Women are smiling at the viewer, inviting them in, offering us an extended projection of happiness. Features are omitted, simplifying the face as identity becomes lost within the group. They are all similar yet they are each unique. What is left are faces that peer out of a blank page (or white background) as if they are seeking identity. I welcome the viewer to bring his or her own experiences and feelings when viewing my artwork.

            </p>
        </div>
    </div>

</div>
