<div ng-controller="portfolioAppCtrl" >

  <section>
      <div class="row">

          <!-- <div class=" col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
              <a  href="/data/photographs/Attachable-beams.jpg" data-lightbox="portfolio-set" >
                  <img  src="/data/photographs/Attachable-beams.jpg" alt="" height="100%" width="100%"/>
              </a>
          </div>
          <div  ng-repeat="photograph in photos1"  class="col-lg-2 col-md-4 col-xs-6 thumb" >
              <a  href="/data/photographs/{{photograph}}.jpg" data-lightbox="portfolio-set" >
                  <img  ng-src="/data/photographs/{{photograph}}.jpg" alt="" height="100%" width="100%"/>
              </a>
          </div> -->
          <div class=" col-lg-2  col-md-4 col-xs-6 thumb">
              <a  href="/data/photographs/Happy-Birthday-Jada2.jpg" data-lightbox="portfolio-set" >
                  <img  src="/data/photographs/Happy-Birthday-Jada2.jpg" alt="" height="100%" width="100%"/>
              </a>
          </div>
          <div  ng-repeat="photograph in photos2"  class="col-lg-2 col-md-4 col-xs-6 thumb" >
              <a  href="/data/photographs/{{photograph}}.jpg" data-lightbox="portfolio-set" >
                  <img  ng-src="/data/photographs/{{photograph}}.jpg" alt="" height="100%" width="100%"/>
              </a>
          </div>

      </div>
  </section>
</div>
