<div ng-controller="portfolioAppCtrl" style="margin-top: 20%">



    <div class="row">

            <div class=" col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
                <a  href="/data/img/1.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/img/1.jpg" alt="" height="100%" width="90%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a  href="/data/img/2.jpg" data-lightbox="portfolio-set" >
                  <img  src="/data/img/2.jpg" alt="" height="100%" width="90%"/>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="/data/img/3.jpg" data-lightbox="portfolio-set" >
                  <img  src="/data/img/3.jpg" alt="" height="100%" width="90%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="/data/img/4.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/img/4.jpg" alt="" height="100%" width="90%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="/data/img/5.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/img/6.jpg" alt="" height="100%" width="90%"/>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
      </div>




    <div class="row">

            <div class=" col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
              <a href="">
                <img src="/data/img/1.jpg" alt="dog-small" height="100%" width="90%" data-toggle="modal" data-target="#1"/>
              </a>
              <!-- Modal -->
              <div class="modal fade" id="1" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content -->
                  <div class="modal-content">

                    <div class="modal-body">
                      <img src="/data/img/1.jpg" alt="dog" height="100%" width="100%"/>
                    </div>

                  </div>

                </div>
              </div>

            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a href="">
                <img src="/data/img/2.jpg" alt="dog-small" height="100%" width="90%" data-toggle="modal" data-target="#2"/>
              </a>
              <!-- Modal -->
              <div class="modal fade" id="2" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content -->
                  <div class="modal-content">

                    <div class="modal-body">
                      <img src="/data/img/2.jpg" alt="dog" height="100%" width="100%"/>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a href="">
                <img src="/data/img/3.jpg" alt="dog-small" height="100%" width="90%" data-toggle="modal" data-target="#3"/>
              </a>
              <!-- Modal -->
              <div class="modal fade" id="3" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content -->
                  <div class="modal-content">

                    <div class="modal-body">
                      <img src="/data/img/3.jpg" alt="dog" height="100%" width="100%"/>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a  href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
      </div>
</div>
