<div ng-controller="portfolioAppCtrl" style="margin-top: 20%">


    <div class="row">
        <div>
            <div class=" col-lg-4   col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Nayeli.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Nayeli.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
              <a  href="/data/paintings/960x640_Jada.jpg" data-lightbox="portfolio-set" >
                  <img  src="/data/paintings/960x640_Jada.jpg" alt="" height="100%" width="100%"/>
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Rosellian.jpg" data-lightbox="portfolio-set" >
                  <img  src="/data/paintings/960x640_Rosellian.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Linda.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Linda.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Rosa.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Rosa.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
        </div>

        <div>
            <div class=" col-lg-3  col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Self-Portrait.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Self-Portrait.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2  col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face2.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face2.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face3.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face3.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face4.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face4.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
        </div>
        <div>
            <div class=" col-lg-3   col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face5.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face5.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face6.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face6.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face7.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face7.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face8.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face8.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 thumb">
                <a  href="/data/paintings/960x640_Face9.jpg" data-lightbox="portfolio-set" >
                    <img  src="/data/paintings/960x640_Face9.jpg" alt="" height="100%" width="100%"/>
                </a>
            </div>
        </div>
    </div>
</div>
