<div ng-controller="portfolioAppCtrl" style="margin-top: 20%">

    <div class="row">
        <div class=" col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Nayeli.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Nayeli.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
          <a  href="/data/paintings/Jada.jpg" data-lightbox="portfolio-set" >
              <img  src="/data/paintings/Jada.jpg" alt="" height="100%" width="100%"/>
          </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Rosellian.jpg" data-lightbox="portfolio-set" >
              <img  src="/data/paintings/Rosellian.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Linda.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Linda.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Rosa.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Rosa.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Self-Portrait.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Self-Portrait.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Mary.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Mary.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Piyeyo.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Piyeyo.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Chumay.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Chumay.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Jada2.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Jada2.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-2 col-lg-offset-1  col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Jameika.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Jameika.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Stephanie_eyes.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Stephanie_eyes.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Oneeye.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Oneeye.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/Skin.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/Skin.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb">
            <a  href="/data/paintings/blank.jpg" data-lightbox="portfolio-set" >
                <img  src="/data/paintings/blank.jpg" alt="" height="100%" width="100%"/>
            </a>
        </div>
    </div>
</div>
